@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?36fgnh');
  src:  url('fonts/icomoon.eot?36fgnh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?36fgnh') format('truetype'),
    url('fonts/icomoon.woff?36fgnh') format('woff'),
    url('fonts/icomoon.svg?36fgnh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icm-"], [class*=" icm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icm-car:before {
  content: "\e905";
}
.icm-heart:before {
  content: "\e906";
}
.icm-user:before {
  content: "\e907";
}
.icm-question:before {
  content: "\e908";
}
.icm-arrow-left:before {
  content: "\e900";
}
.icm-arrow-right:before {
  content: "\e901";
}
.icm-arrow-l-down:before {
  content: "\e902";
}
.icm-arrow-s-left:before {
  content: "\e903";
}
.icm-arrow-s-right:before {
  content: "\e904";
}
.icm-search:before {
  content: "\e986";
}
