/*----------------------------------------
Jhuang Ping Editor (c) & Management Update
v1.2 | 2019.03.15
----------------------------------------*/
/* Basic ====================================================================== */
body { background: transparent; }

#content { font-size: 15px; color: #000; line-height: 150%; position: relative; padding-bottom: 50px; }
#content:before { content: ""; position: absolute; z-index: -2; background: url(../images/content-bg.jpg) no-repeat top left; background-size: contain; top: 0; left: 0; width: 100%; height: 100%; }

.after-0:after { clear: both; display: block; content: ''; height: 0; text-indent: -99999px; }

.main-content { padding: 30px 25px; display: flex; flex-direction: row; flex-wrap: wrap; }
@media all and (max-width: 992px) { .main-content { padding: 10px; } }

aside { width: 186px; padding-right: 15px; padding-top: 40px; }
@media all and (max-width: 992px) { aside { width: 100%; padding-right: 0; padding-top: 0; } }

.aside-title { color: #3e3e3e; font-size: 24px; letter-spacing: 1px; line-height: 100%; padding-bottom: 25px; }
@media all and (max-width: 992px) { .aside-title { display: none; } }

.side_classLink ul { text-align: left; padding: 0 0 0 12px; position: relative; }
.side_classLink ul li > a { display: block; letter-spacing: 1px; font-size: 15px; color: #3e3e3e; padding-bottom: 15px; line-height: 100%; }
.side_classLink ul li > a:hover, .side_classLink ul li > a.current { color: #ec7048; }
.side_classLink ul li.current02 { display: none; }
@media all and (max-width: 992px) { .side_classLink { display: none; } }

.m_classLink { display: none; }
@media all and (max-width: 992px) { .m_classLink { display: block; position: relative; background: #343434; }
  .m_classLink a.main { display: block; font-size: 20px; position: relative; padding: 10px 10px 10px 10px; color: #fff; text-align: left; cursor: pointer; margin: 0px; }
  .m_classLink a.main i { display: block; font-size: 20px; position: absolute; right: 20px; top: calc(50% - 3px); margin-top: -7px; color: #fff; font-style: normal; font-family: "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"; font-weight: 900; }
  .m_classLink ul { display: none; width: 100%; position: absolute; z-index: 101; background: #fff; border-width: 1px 1px 0 1px; border-color: #d3d3d3; border-style: solid; }
  .m_classLink ul li > a { display: block; width: 100%; line-height: 100%; padding: 10px 10px; color: #3e3e3e; font-size: 18px; text-align: left; border-bottom: 1px solid #d3d3d3; }
  .m_classLink ul li > a:hover, .m_classLink ul li > a.current { color: #ec7048; }
  .m_classLink ul li.current02 { display: none; } }

#main { width: calc(100% - 186px); }
@media all and (max-width: 992px) { #main { padding-top: 10px; width: 100%; } }

.main-100 { width: 100% !important; }

.content-Box { max-width: 1210px; margin: 0 auto; text-align: left; position: relative; clear: both; }

.common-title { padding-bottom: 23px; }
.common-title h1 { font-size: 24px; color: #000; line-height: 100%; letter-spacing: 1px; font-weight: bold; }
@media all and (max-width: 992px) { .common-title { padding-bottom: 15px; } }

.common-subtitle { font-size: 18px; font-weight: normal; display: block; text-align: left; color: #062033; margin: 0px; }

/* path =======================================================================*/
.path { font-size: 13px; color: #5B656E; justify-content: flex-end; padding-bottom: 26px; display: flex; flex-wrap: wrap; flex-direction: row; }
.path a { color: #5B656E; }
.path a:hover { color: #f15428; }
.path li:last-child { color: #f15428; }
.path li:after { color: #B1B1B1; }
.path li { display: inline-block; }
.path li:after { content: ">"; font-family: "Font Awesome 5 Solid"; display: inline-block; padding: 0 5px; }
.path li:last-child:after { display: none; }
.path li:first-child:after { display: inline-block; }
@media all and (max-width: 992px) { .path { justify-content: flex-start; padding-bottom: 15px; } }

/* page =======================================================================*/
.page { max-width: 875px; margin: 0 auto; display: flex; justify-content: center; align-items: center; }
.page a { font-size: 14px; padding: 5px; color: #545454; cursor: pointer; }
.page a:hover { opacity: .5; }
.page a.current { color: #1EA78D; font-weight: bold; }
.page a.prev { padding-right: 10px; }
.page a.next { padding-left: 10px; }
.page a.prev:before, .page a.next:before { content: ''; font-family: "Font Awesome 5 Solid"; display: block; opacity: .5; font-size: 20px; }
.page a.prev:before { content: '\f104'; }
.page a.next:before { content: '\f105'; }

/* Banner =====================================================================*/
.banner { position: relative; }
.banner img { width: 100%; }

.slogan { display: flex; justify-content: center; align-items: center; position: absolute; left: 0px; width: 100%; height: 100%; z-index: 99; pointer-events: none; }
.slogan h1 { padding-top: 80px; color: #fff; font-weight: normal; text-align: center; }
.slogan [class*="font"] { display: block; padding: 10px 0; }
.slogan .fontBig { font-size: 52px; line-height: 52px; }
.slogan .fontMin { font-size: 38px; line-height: 38px; }
.slogan .fontSml { font-size: 14px; line-height: 14px; }
.slogan .green { color: #0EDC94; }
.slogan .bothLine { display: flex; justify-content: center; align-items: center; }
.slogan .bothLine:before, .slogan .bothLine:after { content: ''; background: #0EDC94; width: 25px; height: 1px; }
.slogan .bothLine:before { margin-right: 30px; }
.slogan .bothLine:after { margin-left: 30px; }
@media all and (max-width: 480px) { .slogan h1 { padding-top: 30px; }
  .slogan .fontBig { font-size: 30px; line-height: 30px; }
  .slogan .fontMin { font-size: 20px; line-height: 20px; }
  .slogan .fontSml { font-size: 12px; line-height: 12px; } }
@media all and (max-width: 375px) { .slogan .fontBig { font-size: 20px; line-height: 20px; }
  .slogan .fontMin { font-size: 16px; line-height: 16px; }
  .slogan .fontSml { font-size: 12px; line-height: 12px; } }

/* About ======================================================================*/
.company-box { margin-left: 62px; }
@media all and (max-width: 992px) { .company-box { margin-left: 0px; } }

.company-data-top { max-width: 733px; background: linear-gradient(90deg, #f45624 0%, #e3493f 100%); padding: 60px 30px; display: flex; flex-flow: row; flex-wrap: nowrap; align-items: center; margin-bottom: 240px; margin-left: -62px; }
.company-data-top > div:first-child { width: 188px; }
.company-data-top > div:last-child { width: calc(100% - 188px); font-size: 15px; line-height: 20px; color: #fefefe; }
.company-data-top > div:last-child span { display: block; color: #fff600; font-size: 20px; letter-spacing: 1px; padding-bottom: 25px; }
@media all and (max-width: 992px) { .company-data-top { max-width: 100%; margin-left: 0px; flex-flow: column; padding: 30px; }
  .company-data-top > div { width: 100% !important; }
  .company-data-top > div:first-child { padding-bottom: 15px; } }

.company-data-bottom { max-width: 733px; background: linear-gradient(90deg, #f45624 0%, #e3493f 100%); padding: 60px 30px; display: flex; flex-flow: column; flex-wrap: nowrap; align-items: center; margin: 0 0 0 auto; font-size: 15px; line-height: 20px; color: #fefefe; position: relative; bottom: -48px; }
@media all and (max-width: 992px) { .company-data-bottom { flex-flow: column; padding: 30px; } }

.company-ce { margin-top: 35px; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; }
.company-ce > div { padding: 0 4px 10px 4px; }

/* History */
.history-banner { line-height: 0; margin-bottom: 30px; }

.timeline { padding: 0px 0px; width: 100%; margin-bottom: 0px; position: relative; }
.timeline:before { content: ''; position: absolute; top: 0px; left: 15px; width: 3px; height: calc(100% + 50px); background: #c0392b; }
.timeline .column { margin: 40px 40px 40px 70px; position: relative; }
.timeline .column .title .year { font-size: 120px; color: rgba(0, 0, 0, 0.1); font-family: serif; letter-spacing: 3px; line-height: 100%; font-family: "Times New Roman", "serif"; font-weight: bold; position: relative; top: -10px; }
.timeline .column .title .year:before { content: ''; position: absolute; left: -62px; top: 86px; width: 10px; height: 10px; background: #fff; border: 3px solid #c0392b; }
.timeline .column .title .year-title { margin-top: -40px; font-size: 34px; color: #000000; font-weight: bold; line-height: 100%; margin-bottom: 16px; }
.timeline .column .year-data { border-left: 2px solid #000; font-size: 15px; color: #000000; line-height: 22px; padding: 10px 0 10px 20px; }

/* Products ===================================================================*/
.products-list { margin-right: -52px; }
.products-list > div { float: left; margin-right: 52px; width: calc(25% - 52px); }
.products-list > div:first-child { width: calc(50% - 52px); }
.products-list > div:hover img { transform: scale(1.1); opacity: 0.6; }
.products-list > div:hover .products-list-name { color: #ec7048; }
@media all and (max-width: 992px) { .products-list { margin-right: -20px; display: flex; flex-direction: row; flex-wrap: wrap; }
  .products-list > div { width: calc(50% - 20px); margin-right: 20px; float: none; }
  .products-list > div:first-child { width: calc(100% - 20px); margin-right: 20px; float: none; } }

.products-list-pto { line-height: 0; overflow: hidden; margin-bottom: 6px; background: #fff; }
.products-list-pto img { width: 100%; transition: all 0.4s ease-out 0s; }

.products-list-name { color: #000000; font-size: 16px; line-height: 115%; margin-bottom: 10px; overflow: hidden; height: 36px; }
@media all and (max-width: 992px) { .products-list-name { overflow: inherit; height: auto; margin-bottom: 15px; } }

/* Product Detail */
.products-detail-bg { background: #f8f8f8; }

.products-detail-top { background: #fff; padding: 40px 25px; margin-right: -10px; display: flex; flex-direction: row; flex-wrap: wrap; }
.products-detail-top > div { width: calc(50% - 10px); margin-right: 10px; }
.products-detail-top > div:nth-of-type(1) img { width: 100%; }
.products-detail-top > div:nth-of-type(2) { padding: 50px 30px 30px 30px; font-size: 15px; color: #000000; line-height: 20px; }
.products-detail-top > div:nth-of-type(2) span { display: block; font-weight: bold; font-size: 18px; line-height: 100%; padding-bottom: 25px; }
.products-detail-top > div:nth-of-type(3), .products-detail-top > div:nth-of-type(4) { padding: 14px 0; border-top: 2px solid #1c1c1c; border-bottom: 2px solid #dddddd; }
@media all and (max-width: 992px) { .products-detail-top { padding: 25px 10px; }
  .products-detail-top > div { width: 100% !important; }
  .products-detail-top > div:nth-of-type(1) { order: 1; }
  .products-detail-top > div:nth-of-type(2) { order: 3; padding: 20px 0; }
  .products-detail-top > div:nth-of-type(3) { order: 2; }
  .products-detail-top > div:nth-of-type(4) { order: 4; } }

.share-box { padding-bottom: 25px; }

.rslides_tabs { margin-top: 0px; text-align: left; display: flex; flex-direction: row; flex-wrap: wrap; margin-right: -8px; margin-bottom: -8px; }
.rslides_tabs li { margin: 0 8px 8px 0; line-height: 0; width: calc(16.66% - 8px); }
.rslides_tabs li a img { width: 100%; border: 1px solid #e4e4e4; }
@media all and (max-width: 992px) { .rslides_tabs li { width: calc(25% - 8px); } }

.rslides_here img { border-color: #c42626 !important; }

.btn-box { padding: 0 4px; display: flex; flex-direction: row; flex-wrap: nowrap; margin-right: -6px; }
.btn-box a { display: inline-block; margin-right: 6px; width: calc(33.33% - 6px); line-height: 70px; text-align: center; color: #ffffff; font-size: 18px; background: #bababa; font-weight: bold; border-radius: 8px; }
.btn-box a:hover { opacity: 0.6; }
.btn-box a:first-child { background: #e4121a; }

.products-detail-bottom { border-top: 1px solid #d8d8d8; padding: 26px 30px; }

.products-detail-bottom-data { display: flex; flex-direction: row; flex-wrap: wrap; padding-bottom: 50px; }
.products-detail-bottom-data > div:first-child { width: 210px; }
.products-detail-bottom-data > div:last-child { width: calc(100% - 210px); }
@media all and (max-width: 992px) { .products-detail-bottom-data > div { width: 100% !important; }
  .products-detail-bottom-data > div:first-child { padding-bottom: 15px; } }

.products-detail-title { background: url(../images/p-detail-arrow.png) no-repeat 0px 2px; padding-left: 22px; color: #272727; font-size: 17px; font-weight: bold; line-height: 100%; }

.spec-table { border-spacing: 0; width: 100%; }
.spec-table th { background: #c42626; line-height: 100%; font-size: 15px; color: #fff; padding: 12px 10px; text-align: center; }
.spec-table td { text-align: left; color: #6f6f6f; font-size: 15px; padding: 8px 10px; border-bottom: 1px solid #e2e2e2; }
.spec-table td:nth-of-type(1) { font-weight: bold; color: #262626; }
.spec-table td a { color: #909294; }
.spec-table td a:hover { opacity: 0.6; }
.spec-table td i { font-size: 28px; }

.back-btn { display: block; line-height: 64px; background: #8e1111; text-align: center; width: 100%; color: #ffffff; font-size: 18px; font-weight: bold; }
.back-btn:hover { background: #ec7048; color: #fff; }

/* Application ================================================================*/
.application-box { background: #fff; border-top: 1px solid #e8e8e8; border-left: 1px solid #e8e8e8; display: flex; flex-direction: row; flex-wrap: wrap; }
.application-box > div { width: 33.33%; background: #f9f9f9; border-right: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; }

.application-top { background: #fff; padding: 45px 48px 28px 48px; }
.application-top img { border-radius: 100%; margin-bottom: 22px; width: 100%; }

.application-txt { text-align: center; color: #000000; font-size: 20px; font-weight: bold; line-height: 100%; }

.application-bottom { color: #000000; font-size: 15px; line-height: 22px; padding: 26px 38px; }

/* News =======================================================================*/
.news-list { display: flex; flex-direction: column; flex-wrap: nowrap; }
.news-list > div { display: flex; flex-direction: row; flex-wrap: wrap; min-height: 430px; background: #ffffff; }
.news-list > div > div:first-child { width: 38%; padding: 62px 26px; color: #000000; font-size: 15px; line-height: 22px; }
.news-list > div > div:first-child p { padding-bottom: 25px; }
.news-list > div > div:last-child { width: 62%; position: relative; }
.news-list > div > div:last-child a { display: block; position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 3; }
.news-list > div:nth-child(even) > div:first-child { order: 2; }
.news-list > div:nth-child(even) > div:last-child { order: 1; }

.news-list-title { color: #000000; font-size: 15px; letter-spacing: 1px; line-height: 24px; padding-bottom: 12px; font-weight: bold; }
.news-list-title span { display: block; font-size: 20px; }

.news-list-btn { display: block; color: #c50b0b; text-decoration: underline; }
.news-list-btn:hover { text-decoration: none; }

/* News Detail*/
.news-detail-content { background: #fff; padding: 62px 28px; display: flex; flex-direction: row; flex-wrap: wrap; }
.news-detail-content > div { width: 50%; }
.news-detail-content > div:first-child { font-size: 15px; line-height: 22px; color: #000000; padding-right: 28px; }
.news-detail-content > div:first-child p { padding-bottom: 25px; }
.news-detail-content > div:last-child { padding-top: 12px; padding-left: 22px; }

/* Support ====================================================================*/
/* Download ===================================================================*/
.download-list > div > div:first-child a:hover, .download-list > div > div:last-child a:hover { color: #aa2323; text-decoration: underline; }

.download-list { display: flex; flex-direction: row; flex-wrap: wrap; }
.download-list > div { width: 50%; padding: 32px 40px; display: flex; flex-direction: row; flex-wrap: nowrap; background: #e9e9e9; min-height: 178px; }
.download-list > div:nth-of-type(6n+2) { background: #e1e1e1; }
.download-list > div:nth-of-type(6n+3) { background: #eeeeee; }
.download-list > div:nth-of-type(6n+4) { background: #e9e9e9; }
.download-list > div:nth-of-type(6n+5) { background: #e1e1e1; }
.download-list > div:nth-of-type(6n+6) { background: #eeeeee; }
.download-list > div > div:first-child { width: calc(100% - 60px); padding-right: 25px; letter-spacing: 1px; font-size: 15px; font-weight: bold; line-height: 150%; color: #000; }
.download-list > div > div:first-child a { display: block; color: #000000; font-size: 20px; margin-top: 7px; }
.download-list > div > div:last-child { width: 60px; }
.download-list > div > div:last-child a { color: #a6a7a9; font-size: 80px; padding-top: 10px; display: block; }

/* FAQ ========================================================================*/
.qa-box { position: relative; margin-bottom: 30px; display: flex; flex-direction: column; flex-wrap: nowrap; align-items: flex-start; }
.qa-box > div:nth-of-type(1) { position: relative; z-index: 10; border-radius: 10px; border: 2px solid #ec7048; padding: 4px 20px 8px 10px; background: #fff; display: flex; flex-direction: row; flex-wrap: nowrap; font-size: 20px; align-items: center; }
.qa-box > div:nth-of-type(1) > span { font-family: 'Damion', cursive; color: #ec7048; font-size: 70px; position: relative; top: -6px; line-height: 50%; }
.qa-box > div:nth-of-type(1) > div { color: #ec7048; font-style: italic; font-weight: bold; letter-spacing: 1px; font-size: 20px; padding-left: 8px; }
.qa-box > div:nth-of-type(2) { position: relative; border-radius: 10px; border: 2px solid #ddd; padding: 25px 20px 20px 20px; margin-top: -10px; margin-left: 20px; width: calc(100% - 20px); line-height: 140%; }
.qa-box > div:nth-of-type(2) p { margin-bottom: 30px; }

/* Video ======================================================================*/
.video-list { display: flex; flex-direction: column; flex-wrap: wrap; }
.video-list > div { position: relative; }
.video-list > div:hover img { transform: scale(1.1); opacity: 0.5; }
.video-list > div:hover i { opacity: 1; }

.video-list-pto { line-height: 0; overflow: hidden; margin-bottom: 10px; background: #000; position: relative; }
.video-list-pto img { transition: all 0.4s ease-out 0s; width: 100%; }
.video-list-pto i { position: absolute; color: #fff; font-size: 80px; top: calc(50% - 35px); left: calc(50% - 60px); transition: all 0.4s ease-out 0s; opacity: 1; z-index: 2; }

.video-list-name { color: #191919; font-size: 18px; line-height: 140%; padding-bottom: 20px; }

/* Contact ====================================================================*/
.contact-main { padding: 45px 50px; background: #fff; display: flex; flex-direction: row; flex-wrap: wrap; position: relative; z-index: 2; }
.contact-main > div:first-child { width: 66%; padding-right: 75px; font-size: 16px; color: #3d3d3d; }
.contact-main > div:last-child { width: 34%; }
.contact-main input[type="text"], .contact-main input[type="number"], .contact-main input[type="tel"], .contact-main input[type="phone"], .contact-main input[type="date"], .contact-main input[type="email"], .contact-main input[type="password"], .contact-main input[type="button"], .contact-main textarea { font-size: 18px; border-width: 0 0 1px 0; border-style: solid; border-color: #cccccc; margin: 0px 0 0 0; width: 100%; padding: 15px 5px; color: #3d3d3d; background: none; font-family: 'PT Sans', sans-serif; letter-spacing: 1px; }
.contact-main textarea { height: 135px; padding: 10px 5px; letter-spacing: 1px; }
.contact-main select { margin: 0px 0 0 0; min-width: 80px; width: 100%; background-image: url(../images/product-select.png); background-repeat: no-repeat; background-position: 100% 20px; -webkit-appearance: none; -moz-appearance: none; appearance: none; margin-right: 4px; background-color: transparent; font-size: 18px; border-width: 0 0 1px 0; border-style: solid; border-color: #cccccc; max-width: 100%; color: #3d3d3d; font-family: 'PT Sans', sans-serif; height: 54.5px; padding: 0 5px; letter-spacing: 1px; }
.contact-main option { padding: 1px 5px; }
.contact-main select::-ms-expand { display: none; }

.contact-map { margin-top: -80px; margin-bottom: -58px; }
.contact-map iframe { width: 100%; border-width: 0; height: 570px; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); }

.contact-form-3 { margin-right: -10px; display: flex; flex-direction: row; flex-wrap: nowrap; }
.contact-form-3 > div { margin-right: 10px; }
.contact-form-3 > div:nth-of-type(1), .contact-form-3 > div:nth-of-type(2) { width: calc((100% - 126px) / 2); }
.contact-form-3 > div:nth-of-type(3) { width: 126px; }

.google-machine { margin: 24px 0 28px 0; }

.contact-btn { text-align: left; }
.contact-btn a { display: inline-block; margin-right: 10px; width: 115px; height: 44px; border-radius: 5px; text-align: center; line-height: 44px; color: #ffffff; font-size: 18px; font-weight: bold; background: #a7b5c2; }
.contact-btn a:hover { opacity: 0.6; }
.contact-btn a:first-child { background: #af3030; }

.contact-info > div:nth-of-type(2) font, .contact-info > div:nth-of-type(3) font, .contact-info > div:nth-of-type(4) font { display: block; font-size: 20px; font-weight: bold; padding-bottom: 20px; line-height: 100%; }

.contact-info > div:nth-of-type(2) i, .contact-info > div:nth-of-type(3) i, .contact-info > div:nth-of-type(4) i { font-size: 30px; display: inline-block; vertical-align: middle; padding-right: 18px; }

.contact-info { display: flex; flex-direction: column; flex-wrap: nowrap; padding: 0 0px; }
.contact-info > div { padding: 0 0 40px 0; font-size: 16px; letter-spacing: 1px; line-height: 30px; color: #393939; }
.contact-info > div:nth-of-type(1) { font-size: 50px; color: #565656; line-height: 100%; font-weight: normal; letter-spacing: 0; font-weight: normal; }
.contact-info > div a { color: #393939; }
.contact-info > div a:hover { text-decoration: underline; }

/* Search =====================================================================*/
.search-list { display: flex; flex-direction: row; flex-wrap: wrap; margin: 0 -30px 0 0; }
.search-list > div { width: calc(20% - 30px); margin-bottom: 15px; margin-right: 30px; }
.search-list > div:hover img { transform: scale(1.1); opacity: 0.6; }
.search-list > div:hover .products-list-name { color: #ec7048; }

/* Inquiry ====================================================================*/
.inquiry-main { width: 100%; margin: 0 0 0 auto; }
.inquiry-main > div:first-child { width: 60%; margin-left: 0; padding-right: 30px; }
.inquiry-main > div:last-child { width: 40%; padding-top: 44px; }

.inquiry-content { font-size: 16px; color: #3d3d3d; line-height: 24px; padding-bottom: 12px; }

.inquiry-cart-title { background: #ca2727; padding: 15px 0; line-height: 0; display: flex; flex-direction: row; flex-wrap: wrap; }
.inquiry-cart-title > div { color: #ffffff; font-size: 15px; font-weight: bold; text-align: center; line-height: 100%; }
.inquiry-cart-title > div:nth-of-type(1) { width: calc(100% - 150px); text-align: left; padding-left: 20px; }
.inquiry-cart-title > div:nth-of-type(2), .inquiry-cart-title > div:nth-of-type(3) { width: 75px; }

.inquiry-cart { padding: 18px 0 15px 0; border-bottom: 1px solid #e8e8e8; display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; }
.inquiry-cart > div:nth-of-type(1) { width: 85px; }
.inquiry-cart > div:nth-of-type(2) { font-size: 15px; color: #262626; line-height: 100%; text-align: left; width: calc(100% - 85px - 75px - 75px); padding: 0 20px; font-weight: bold; }
.inquiry-cart > div:nth-of-type(3) { width: 75px; }
.inquiry-cart > div:nth-of-type(3) input[type=number] { line-height: 37px; text-align: center; width: 100%; border: 1px solid #e5e5e5; background: #fff; font-size: 17px; color: #6f6f6f; font-family: 'PT Sans'; padding: 0; }
.inquiry-cart > div:nth-of-type(4) { padding: 0 5px; width: 75px; text-align: center; }

.btn-delete { line-height: 37px; width: 55px; text-align: center; width: 100%; border: 0px solid #e5e5e5; background: #fff; font-size: 22px; color: #6f6f6f; display: block; cursor: pointer; }
.btn-delete:hover { color: #ca2727; }

/* Sitemap ====================================================================*/
.sitemap-list { display: flex; flex-direction: row; flex-wrap: wrap; background: #fff; padding: 50px 15px; }
.sitemap-list > div { margin: 0 15px 40px 0px; width: 210px; }

.sitemap-title { padding: 8px 5px 8px 44px; color: #e7303b; font-size: 18px; display: block; border-bottom: 1px solid #dddddd; }

.sitemap-menu { padding-left: 52px; padding-bottom: 20px; position: relative; padding-top: 10px; }
.sitemap-menu:before { content: ""; left: 32px; width: 1px; height: calc(100% + 40px); top: -40px; background: #dddddd; position: absolute; }
.sitemap-menu li { position: relative; }
.sitemap-menu li ul { position: absolute; left: 100%; top: 0; width: 100%; display: none; z-index: 2; }
.sitemap-menu li:hover > ul { display: block; }
.sitemap-menu li a { background: #f50916; color: #ffffff; font-size: 16px; line-height: 110%; padding: 10px 14px; display: block; }
.sitemap-menu li a:hover { background: #000000; color: #fff; }
.sitemap-menu > li > a { display: block; font-size: 16px; color: #3d3d3d; line-height: 100%; padding: 10px 0; text-align: left; background: none; }
.sitemap-menu > li > a:before { content: ''; width: 3px; height: 8px; position: absolute; top: 13px; left: -20px; background: #f50a17; }
.sitemap-menu > li > a:hover { color: #f50916; background: none; }
